## Environment
.env

## PHPStorm
/.idea/

## VisualStudioCode
/.vscode/
*.code-workspace

## MariaDB
/mariadb/backup/*
!/mariadb/backup/.gitkeep
/mariadb/data/*
!/mariadb/data/.gitkeep
/mariadb/fixtures/*
!/mariadb/fixtures/.gitkeep

## Redis
/redis/data/*
!/redis/data/.gitkeep

## Log files
/log/*
!/log/.gitkeep
/log/apache2/*
!/log/apache2/.gitkeep
/log/mariadb/*
!/log/mariadb/.gitkeep
/log/php/*
!/log/php/.gitkeep

## Page application
/web/.config/config.php
/web/app/*
!/web/app/.gitkeep
/web/.cache/*
!/web/.cache/.htaccess
/web/.data/*
!/web/.data/.htaccess
/web/.log/*
!/web/.log/.htaccess

## Composer
composer.phar
/web/vendor/*
!/web/vendor/.htaccess

## PHP tools
.*.cache

## Database Admin
adminer.php
