## Environment
.env

## PHPStorm
/.idea/

## VisualStudioCode
/.vscode/
*.code-workspace

## MariaDB
/mariadb/backup/*
!/mariadb/backup/.gitkeep
/mariadb/data/*
!/mariadb/data/.gitkeep

## PostgreSQL
/postgresql/backup/*
!/postgresql/backup/.gitkeep
/postgresql/data/*
!/postgresql/data/.gitkeep

## Redis
/redis/data/*
!/redis/data/.gitkeep

## Log files
/log/*
!/log/.gitkeep
/log/apache2/*
!/log/apache2/.gitkeep
/log/mariadb/*
!/log/mariadb/.gitkeep
/log/php/*
!/log/php/.gitkeep

## PHP tools
.*.cache

## Database Admin
adminer.php
