## PHPStorm
/.idea/

## VisualStudioCode
/.vscode/
*.code-workspace

## Page application
/public/.config/config.php
/public/.log/*
!/public/.log/.htaccess
/public/.var/*
!/public/.var/.htaccess
/public/.var/cache/*
!/public/.var/cache/.gitkeep
/public/app/*
!/public/app/.gitkeep

## Composer
composer.phar
/public/vendor/*
!/public/vendor/.htaccess

## php-cs-fixer
php-cs-fixer
.php_cs
.php_cs.cache
.php-cs-fixer.php
.php-cs-fixer.cache

## Database Admin
adminer.php

## Backups and Fixtures
/backup/*
!/backup/.gitkeep
